[2015-12-06 19:57] andreineculau opened #1 "fix dialyzer issues"
https://travis-ci.org/for-GET/jesse/jobs/95224229

[code]

[2015-12-06 20:08] andreineculau opened #6 "improve types in jesse.erl"
Port of https://github.com/klarna/jesse/issues/10 by @andreineculau

---

[code]

[2015-12-06 20:09] andreineculau opened #7 "add jesse:error_to_json"
Port of https://github.com/klarna/jesse/issues/38 by @Licenser

---

Hi, I was thinking it'd be really nice to have a pre-build function that formats the erlang error into a json error to return to the sender.

It probably can be done easily in the application using jesse but it seems such a common thing that I feel like it could be included directly?

-spec error_to_json([jesse:error()]) -> binar

[2015-12-14 22:55] andreineculau commented on #1
closing in favour of doing this after #5

[2015-12-14 22:55] #1 closed

[2016-01-04 07:30] marutha commented on #7
+1

[2016-01-13 14:19] tjarvstrand opened #9 "Tagged release"
Hey,

We are updating jesse internally and would like to use upstream version numbers. Any chance we could get a tagged release of the current version?

[2016-01-13 19:42] andreineculau commented on #9
Sure. I had a few things on standby, so I was stalling. Coming in 5min

[2016-01-13 19:42] #9 closed

[2016-01-13 19:57] andreineculau commented on #9
https://github.com/for-GET/jesse/releases/tag/1.2.0

[2016-01-14 13:59] tjarvstrand commented on #9
Thanks!

[2016-01-25 10:35] andreineculau commented on #7
@marutha @Licenser happy to review a PR on this if you already have smth up and running, but, personally, after doing this over the weekend (branch not pushed), I will definitely prioritize #6 and only when that is done, implement this feature as ~`fun jesse_error:to_json/1`

[2016-01-25 14:45] seriyps commented on #7
See https://github.com/for-GET/jesse/blob/master/src/jesse_cli.erl#L108

[2016-01-25 14:50] seriyps opened #10 "Add maps support"
It will be great, if we can validate `map()` JSON representation (at least map data, not map schema).

[code]
I've already made pull-request to kvc with maps support https://github.com/etrepum/kvc/pull/9 (not merged yet). But changes may be ported right now. (Why we use our own copy of kvc instead of rebar dep?).

Also, I'm ready to implement this myself, if someone is interested to review it.

[2016-01-29 07:45] #10 closed

[2016-01-30 15:01] #7 closed

[2016-01-30 15:49] #6 closed

[2016-02-09 11:14] habibutsu opened #12 "Type mismatch for function jesse_state:find_schema/2"
According to specification for the function [jesse_state:find_schema/2](https://github.com/for-GET/jesse/blob/master/src/jesse_state.erl#L265) expected that type of _SchemaURI_  is **binary**. Actually it always **list** (is used [re:split](https://github.com/for-GET/jesse/blob/master/src/jesse_state.erl#L185))

[2016-02-09 14:43] habibutsu opened #13 "Contradictory behavior when used $ref"
Working example:

[code]

Problems:
1. Name of schema does not match to name that should be in **$ref**
2. If to delete **id** from schemas - example does not work
3. The items _1_ and _2_ is not valid and example works in simple manner (withot **id** and with clear naming) when used only two levels of nested.

[2016-02-29 00:37] #12 closed

[2016-02-29 22:39] andreineculau commented on #13
Thanks for the report.

The issue is n-fold and it will take a while to get right AFAICS. Meanwhile, it would be great if you could submit a PR with new tests added to `json_validator_tests.erl` that you think should pass.

- [ ] normalize keys, ids, refs
- [ ] keys (e.g. `add_schema(Key,...`) should be FQDN URIs. Note: we could default to the file URI scheme, given a root folder
- [ ] id should d

[2016-03-01 15:27] seriyps opened #16 "list of objects with requred properties"
Minimum schema:

[code]

Minimum JSON

[code]

[code]

Expected: '{missing_required_property, "b"}', but validation succeeds instead.

Other implementations (eg http://jsonschemalint.com/draft4/) catches this error.

[2016-03-01 15:39] seriyps commented on #16
I've done some investigation, and found that it switches to validator v03 there https://github.com/for-GET/jesse/blob/master/src/jesse_validator_draft4.erl#L536

[code]

Here it uses default validator (v03) instead of initial (v04), because it's not bypassed to deeper level:
[code]

So, this issue is mostly about `jesse_validator_draft4:check_value/4`

[2016-03-01 15:45] seriyps commented on #16
May be temporary resolved like this:

[code]

[2016-03-01 21:40] #16 closed

[2016-03-01 21:41] andreineculau commented on #16
Thanks for the report. Should be fixed now

[2016-03-03 13:00] seriyps commented on #16
Thanks! Works as expected now!
I wonder if this case should be covered by unittests somehow...

[2016-03-03 13:10] andreineculau commented on #16
Lots of things should be covered (I've only recently discovered how slim
the JSON Schema Test Suite is)
If you have the time, it should be easy to add a test in
test/JSON-Schema-Test-Suite/draft4/required.json and send a PR.
Thanks

On Thu, Mar 3, 2016 at 2:00 PM, Sergey Prokhorov <notifications@github.com>
wrote:

--
andreineculau.com <http://www.andreineculau.com>

[2016-05-31 16:30] seriyps commented on #13
I use another pattern, but meet a similar problems:

types.json
[code]

my_schema.json
[code]

[code]

And found that It performs lookup like `jesse_database:read("./types.json")`.

While the fact that it passes string, not binary, is more or less normal (but hard to debug), but it's also prepending `"./"` to name.
I've found (by tracing) that it's because it calls `"./" = filename:dirname("types.

[2016-05-31 20:05] seriyps opened #19 "Some strange problem with nested references"
I tried to minimize test case, but still not sure if it's minimal enough:

[code]

[code]

It says 'schema invalid', while it's ok.

Here are part of tracer output. Maybe it can help somehow

`dbg:tracer(), dbg:tpl(jesse_state, []), dbg:tpl(jesse_error, []), dbg:tpl(jesse_schema_validator, []), dbg:p(spawn_link(fun() -> timer:sleep(1), exit(jesse_test:test()) end), [c, m]).`

[code]

[2016-06-01 12:57] seriyps commented on #19
Minimized case:

[code]

Partial output of
[code]

[code]

So, looks like it's some inconsistency in internal state switching...

[2016-06-01 14:16] seriyps commented on #19
One more case even without nesting:

[code]

[code]

So, looks like just use of remote `$ref` inside `items` results in jesse state corruption. The reason is not nesting.

[2016-06-01 14:31] andreineculau commented on #19
Hi! Thank you for looking into these issues. Just so you know, I won't be able to look into your feedback in the very near time, but don't let that bring you down and stop you from even coming with a pull request :)

[2016-06-01 14:31] andreineculau commented on #19
maybe other @for-GET/jesse people have the time/will

[2016-06-01 14:38] seriyps commented on #19
Looks like it's because we set `root_schema` here
https://github.com/for-GET/jesse/blob/master/src/jesse_state.erl#L198

and then don't switch it back when go out of `$ref` scope there
https://github.com/for-GET/jesse/blob/master/src/jesse_validator_draft4.erl#L546

[2016-06-01 15:01] seriyps commented on #19
So yes. It's about restoring `root_schema` when remote `$ref` goes out of scope.

[code]

[code]

And also probably `dependencies` and `additionalProperties`, not sure. Just `grep TmpState src/jesse_validator_draft4.erl`

[2016-06-01 15:28] seriyps commented on #19
I probably made a fix, but no tests yet.

[2016-06-18 23:05] #19 closed

[2016-07-07 12:35] tbug opened #22 "oneOf / anyOf with [{allowed_errors, infinity}] Doesn't work as expected"
When `allowed_errors` option is set, `oneOf` and `anyOf` doesn't work.
You get an error back from the case that didn't match in the `oneOf`, which is not really an error, but the expected behaviour.

Here is the `ct` case I'm using.

[code]

[2016-07-23 11:38] andreineculau opened #23 "Default schema loader fun with file and http/s support"
I don't know if this is legacy (jesse not supporting $ref in the beginning) but i have a commit that adds loading (and adding to internal storage) referenced schemas given a start schema with an id using the file: or http: URI scheme.

This works brilliantly for the CLI version.

Ping @Cy6erBr4in

[2016-07-23 11:39] andreineculau commented on #23
Correction: if this is legacy, or design that jesse lack this default behavior

[2016-07-24 07:31] dmitriid commented on #23
IIRC it was by design: the `$ref` was a bit of a mess standard-wise and not used within the company. So it was never implemented (though @Cy6erBr4in wanted to do it for a long time)

[2016-07-24 11:01] andreineculau commented on #23
By all my standards, that's legacy 😀
If you know what was messy about the standard, I'd appreciate a shout, because the $ref support is already in jesse.
Worked a bit on my future PR and I think it will close down all the 3 open issues actually. So if there's extra work, this is a good moment to tackle it.

Thanks for jumping in!

--
http://andreineculau.com

[2016-08-07 22:04] andreineculau opened #25 "integrate/link to dev.erldocs.com"
https://dev.erldocs.com/github.com/for-get/jesse/

[2016-09-14 12:17] seriyps commented on #22
I was affected by almost the same issue just now:

Simplified case:

[code]

[code]

In all this cases `ok` expected.
[code]

[code]

In all this cases `any_schemas_not_valid` expected:

[code]

So, if 'allowed_errors' is not 0, `anyOf` as well as `oneOf` doesn't work...

[2016-12-05 10:31] liuzhen opened #28 "Tag 0.1.3 (from hex.pm) does not validate patternProperties?"
Json example:
[code]

Schema:
[code]

`enum` does not work as expected.

[2016-12-09 19:47] jamesaimonetti opened #29 "Return list of missing required fields"
When validating an object against a schema with multiple fields in the `required` array (draft4), it would be great to get back either:

1. `{missing_required_property, [<<"foo">>, <<"bar">>]}`
2. Multiple 'data_invalid' tuples with each tuple having `{missing_required_property, Key}`

It looks straightforward enough in the code, something like (untested):

[code]
Thoughts? Happy to submit the PR

[2016-12-10 22:12] #22 closed

[2016-12-10 22:28] andreineculau commented on #29
Sounds like a good idea! Welcome to send a PR

PS: watch out for support of `allowed_errors`.

[2016-12-10 22:35] andreineculau commented on #28
1. You have `additionalProperties: false`, and since you do not defined any properties, that means `configs` must be an *empty* object.
2. Next time you open an issue, please explain a. what is the current output b. what is the expected output. Thanks.

[2016-12-10 22:35] #28 closed

[2016-12-16 11:09] #25 closed

[2016-12-16 11:11] andreineculau commented on #29
@jamesaimonetti no hurry, but FYI I intend to make a release before xmas

[2016-12-28 07:48] ii000314 opened #34 "Problem with "date-time" format validation"
I have a problem with "format": "date-time" validation and it seems like a bug.

Value: <<"2017-04-12T23:20:50Z">>
Property: #{<<"format">> => <<"date-time">>, <<"type">> => <<"string">>},

Brief analysis shows that problem most likely here: https://github.com/for-GET/jesse/blob/master/src/jesse_validator_draft4.erl#L956
Instead of "State", check_format function returns boolean.
[code]

[2017-01-05 16:15] marutha commented on #29
+1 for this

[2017-01-05 17:36] marutha opened #36 "internal reference"
I have file

[code]

and another file

[code]

both the above schemas are loaded jesse, but the $ref attribute is not resolved and waits for infinite time. Am I doing anything wrong? Should I try using scheme_loader_fun option?

[2017-01-05 17:46] marutha commented on #13
+1

[2017-01-07 01:38] andreineculau commented on #13
@marutha try running the jesse version in PR #24 and report back if it helps. thanks!

[2017-01-07 01:40] andreineculau commented on #36
like i replied on another issue:

[2017-01-07 10:32] andreineculau commented on #23
fixed by #24

[2017-01-07 10:32] #23 closed

[2017-01-07 10:32] andreineculau commented on #13
fixed by #24

[2017-01-07 10:32] #13 closed

[2017-01-07 10:34] andreineculau commented on #29
will be fixed by #35

[2017-01-07 10:34] #29 closed

[2017-01-07 10:35] andreineculau commented on #36
@marutha #24 was just merged, so try out the new master

[2017-01-07 12:22] #34 closed

[2017-01-07 12:30] andreineculau commented on #34
thanks for bringing this up

[2017-01-09 11:35] seanmcevoy opened #37 "Master add_schema broken"
Last night (8th jan 2017) we did a build which clones the jesse repo and we pulled the latest master branch, which seems to be broken. From a quick review the order of parameters from jesse:add_schema/2 (which we call) into jesse_database seem to be incorrect, though I'm judging by variable name only, with no knowledge of internal workings.
Last fridays (6th jan 2017) master version was working fi

[2017-01-09 16:13] andreineculau commented on #37
Can you try with the newest master? Thanks a bunch!

[2017-01-09 21:17] seanmcevoy commented on #37
Still failing unfortunately, stopping in the dialyzer phase of the build with:

The call jesse:add_schema(MsgType::atom(),Json::any()) will never return since it differs in the 1st argument from the success typing arguments: (string(),any())

[2017-01-10 10:02] andreineculau commented on #37
Hmm, I need to look into why travis doesn't catch this in the dialyzer run

[2017-01-10 10:34] andreineculau commented on #37
@seanmcevoy try now. I blindly fixed the spec. Shame! I have no idea what's happening with dialyzer: nor on my computer, nor travis seems to catch the spec issue, and I don't have the time to look more into it. Thus I keep the issue open.

@sstrigler could you maybe lend a helping hand, and look into why 3a08f9b does not fail `make dialyzer` ?

[2017-01-10 10:38] sstrigler commented on #37
You mean why it did not before the fix, right?

[2017-01-10 13:40] sstrigler commented on #37
Now that I read everything again: where you instead asking why after https://github.com/for-GET/jesse/commit/3a08f9b0698b82c2078179a661fe4f7a2ba2bc9c dialyzer didn't fail?

[2017-01-10 16:06] andreineculau commented on #37
@seanmcevoy now that I look closer, your dialyzer error stems from your own call right? and that's because the spec of `jesse_database:add_schema` did change from taking Key as an atom, to taking Key as a string. That said, in the current master, there should be little use of calling `add_schema` because jesse will automatically load schemas on demand, given that the `ref` property points to a an

[2017-01-10 16:06] #37 closed

[2017-01-10 22:41] seanmcevoy commented on #37
@andreineculau that is indeed the case. I was under time pressure earlier just pasted in the dialyzer error without any investigation, after changing my key to an atom dialyzer has passed & the tests are passing again. We'd pointed our rebar.config to the last working version so it it wasn't a blocker for us.

Specifically, thanks for your quick reply & fix for this, and in general, thanks for the

[2017-01-11 07:16] #36 closed

[2017-01-11 07:16] marutha commented on #36
Thanks!

[2017-01-11 07:24] marutha opened #38 "anyOf validation failing if reference schema has additionalProperties property"
[code]

The post_car.json has the below
[code]

The validation is failing with above and passing when I remove the below lines in post_car.json,
[code]
 if I am right if the schema validation fails in post_car.json, it should process for post_jet.json, this behaviour is happening only when the above property "addtionalProperties" is present.

[2017-01-11 08:53] andreineculau commented on #38
@marutha thanks for the report, but please provide full examples of schemas + instance, along with the failing message

[2017-01-11 10:24] andreineculau commented on #37
thanks must go to all authors and issue reporters

[2017-01-12 08:34] marutha commented on #38
I will close this as of now

[2017-01-12 11:22] #38 closed

[2017-01-12 11:26] marutha opened #39 "how to reference keys"
Hi,

I have a local id in file "test/test1.json" and how can I reference this file in another file somethgn like below?
[code]

[2017-01-12 11:32] marutha commented on #39
I think I found it, I have to use id like "/test/test.json" and "$ref" : "/test/test1.json"

[2017-01-12 11:32] #39 closed

[2017-01-12 21:09] andreineculau commented on #39
as you can see in `jesse_state:resolve_ref/2`
the reference is first looked up in the loaded schemas, or loaded on demand
(if it's an absolute ref then on its own, or a relative one applied to the
current schema's id)

once again, I don't have enough context in your issue, but say that you
want to reference "test/test1.json" from "test/test0.json", then
"test0.json" would have {"$ref": "test1.json

[2017-02-06 11:11] eproxus opened #40 "Errors returned are different depending on options used"
With jesse 1.4.0, I'm having trouble using the options `[]` and `[{allowed_errors, 1}]`, because yields different results. For example, consider the following example document:

[code]
where `/data/id` should be `"1"` and not `1` and the schema from http://jsonapi.org/schema

The problem is that using `[]` or `[{allowed_errors, 0}]` yields a different error than `[{allowed_errors, 1}]`. Because of

[2017-02-07 11:18] eproxus opened #41 "Invalid schemas with {allowed_errors, infinity} causes infinite loop"
An invalid schema that results in an `{schema_invalid, Schema, schema_invalid}` error and the option `{allowed_errors, infinity}` causes an infinite loop. Any other value *N* for `allowed_errors` causes *N* copies of the `schema_invalid` error.

[2017-03-07 19:48] JakubCzarniecki opened #43 "jesse does not fully respect internal references"
[draft-wright-json-schema-00 (Internet-Draft October 13, 2016) | 8.2.1. Internal references](http://json-schema.org/latest/json-schema-core.html#rfc.section.8.2.1) states that:

In particular, the following schema will not work with `jesse`:
[code]

Failing example with internal reference URI given directly by "id" (`#item`):
[code]

Successful example with internal reference given as JSON Pointer

[2017-03-11 23:35] #43 closed

[2017-03-11 23:39] andreineculau commented on #43
I have pushed a fix so that jesse works better with JSON paths e.g. this works now

[code]

As for internal references (`id` attribute), they are indeed not supported, nor do I have any intention to do so. A PR would obviously be considered, though in my experience the `id` attribute sugar does not only add very little value, but it also makes big schemata harder to follow (both by a human and pro

[2017-04-09 19:27] a12n opened #48 "Module from rfc3339 dependency conflicts with module in jesse user application"
Hi,

The dependency `rfc3339` was introduced to implement `date-time` format validation in Draft 4 schemas. Unfortunately [for me] another RFC 3339 library with the same module name is used extensively through my application:
[code]

If the issue isn't a «wontfix» one, there may be a few ways to fix it:
- move `date-time` format validation to Draft 3 module, where due to more strict `date-time` fo

[2017-04-09 20:43] andreineculau commented on #48
Confused. You have another rfc3339 module that gets loaded. I guessing that the module is in-house. If that's correct, and that module can indeed parse RFC 3339 strings, then why not just add a parse/1 function? Alternatively, I'd ask what does your module do that https://github.com/talentdeficit/rfc3339 doesn't ?

[2017-04-10 05:20] a12n commented on #48
Yes, it's in-house [library](https://bitbucket.org/a12n/erl-rfc3339). Probably, I'll make a branch and implement compatible `parse/1` function. I'm not sure on the load order though. Looks like it deterministic now, but wouldn't it change someday if I reorder `deps` in `rebar.config` or due to other unrelated changes?

As far as I can tell, there are few a matter of taste differences (return types

[2017-04-10 08:52] andreineculau commented on #48
One thought is that those sound like really good improvements that maybe
can be brought into the external rfc3339. Even with the requirements on
newer OTP.

Secondly, if you have the time, I could also welcome a PR that takes
callbacks for the validations and has a BARE_MODE build, the same way we
have for https://github.com/for-GET/katt . It's unfortunate really, but I
leave it up to you.

On Mon

[2017-04-10 09:56] a12n commented on #48
ok. Also, that's your opinion on implementing simpler `date-time` (and also `date`) format without any dependencies in Draft 3 module? Would you accept such PR?

[2017-05-18 23:37] wk8 opened #50 "Jesse's database depends on the CWD => changing it breaks jesse"
It seems that starting from https://github.com/for-GET/jesse/commit/820d0e9b5a0cc4d87d0082afaa0321c7045cbaa0#diff-06b055de1c1c5e19892ec0ef0a7d057f, jesse stores schemas in its database using _canonical keys_, which, unfortunately, depend on the current working directory (see https://github.com/for-GET/jesse/blob/718d95d0c9b3ad78ea6408a73b808d695ea1f9ae/src/jesse_state.erl#L345 and https://github.c

[2017-05-21 22:52] andreineculau commented on #50
the canonical keys refactoring are related to https://github.com/for-GET/jesse/issues/13#issuecomment-190431727

as for the behaviour, it is correct (though I agree the function docs should be updated).
if you look at the implementation, both the 1st 2nd and 3rd expression in your erlang shell translates `key` to `file://$(pwd)/key`

because jesse didn't support `$ref` in the beginning, it had add

[2017-05-22 11:38] andreineculau commented on #50
I think better words would be
* use an absolute key e.g. `jesse:add_schema("file:///key", {[]})`
* or give your schema an id e.g.

[code]

Now this is a *bug* :) because the 5th expression (note the *quotes*) should have succeeded. Because there is a schema with an id "key". There's a bug in `jesse_database:load/1` which I have just fixed.

[2017-05-22 15:20] wk8 commented on #50
@andreineculau : not sure I get why has to call jesse:add_schema/2 with an atom and then jesse:validate/2 with a _string_ instead to mean the same schema? Seems rather counter-intuitive?

Other than that, yes, that solves the issue, thanks :)

[2017-05-22 21:22] andreineculau commented on #50
the difference is not so much in atom vs list, but in SourceKey vs Id, that is lookup schema via how it was loaded, or via its id value (property), and the id can only be a string.

As per the spec, all keys should be "strings", but in reality it accepts anything that can converted to a string (if memory holds true it's for keeping some backwards compatibility).
I have introduced a guard which cla

[2017-05-22 22:10] andreineculau commented on #48
sorry about the delay @a12n !

I don't see why jesse would concern itself with implementing RFC 3339 semantics, if such a library already exists and functions up to par. I keep to what I said before

* consider improving @talentdeficit's library
* or alternatively open a PR switching jesse over to yours (though a name change is welcome, otherwise other people will complain about the situation the

[2017-05-23 08:06] andreineculau opened #54 "$ref should ignore everything else"
see https://github.com/for-GET/jesse/commit/817319686b290d7ce5e73ba13bd797c6ad2ead44#commitcomment-22237909

[2017-07-13 15:40] define-null opened #56 "Missing tag for 1.5.0 release"
I noticed that although 1.5.0 release is mentioned almost in the changelog a year ago the corresponding tag is missing

[2017-07-13 17:51] andreineculau commented on #56
That's true. The reason though is that 1.5.0 is "upcoming". I didn't want to tag it at that point, because I wanted people to test and come with feedback since I couldn't test in depth. Meanwhile, there was good feedback, but I became short of time plus there's a couple of interesting PRs, so you could say I forgot to "release".

I pushed two tags `1.5.0-rc1` and `1.5.0-rc2` tag that you can use f

[2017-07-13 20:05] define-null commented on #56
Great, thank you)

[2018-01-05 03:19] mrallen1 commented on #56
Hey @Licenser can you maybe upload a new hex release with one of these rc tags?

[2018-01-05 03:23] mrallen1 opened #57 "Greatly expand the documentation around how $ref works"
It is really really really really really super opaque, frustrating and annoying to figure out how `$ref` is supposed to work.

I think I'm too close to my emotions to write clearly and calmly about this, but I [started a gist][1] with some of my research notes.  I'd eventually like to incorporate those notes in a cleaned up form into the documentation or README.

Is there an appetite to 👍 on a PR

[2018-01-05 12:11] Licenser commented on #56
I can but there is a slight problem. I think to remember that hex/rebar3 had serious problems with `-rc` tags (aka it didn't take them properly into account and would make sorting / finding the 'latest' package problematic. Releasing it as 1.4.1 also seems wrong not 100% sure about how to handle this best.

[2018-01-06 21:27] andreineculau commented on #57
@mrallen1 let me first say that a PR does not need approval, and it is most certainly a pleasure to go through any PR, no matter if it ends up in a merge, as long as there's added value. If you open an issue though, please specify which version of `jesse` you have a question on/problem with - 1.5.0-rc2 ? CLI or erlang interface ?

As to the point, `jesse` does not and should not do anything except

[2018-01-07 20:21] mrallen1 commented on #57
OK, thanks for the explainer. Yes my language was intemperate and needs to be edited - it was the voice of frustration.  Thank you for understanding. I'll edit my gist and try out the branch probably tomorrow.

[2018-02-12 06:00] subsetpark opened #58 ""required" has no effect"
I am dynamically generating some JSON validation, but certain properties are not being validated against. Here's an example:

[code]

And here's the output, along with a report of what was passed in if it passes validation:

[code]

As you can see, when an object containing only one of the three required properties is passed in, it passes validation.

On the other hand, if I pass in `{"i":1}`, the

[2018-02-12 11:51] andreineculau commented on #57
@mrallen1 any feedback to report? thanks

[2018-02-12 12:09] andreineculau commented on #58
the "problem" is that you do not specify which schema validation to use, and by default `jesse` use draft3 which has a different way to saying which properties are required or optional.

So add `"$schema": "http://json-schema.org/draft-04/schema#"`, and you should be fine.

[2018-02-12 12:09] #58 closed

[2018-02-12 12:11] #57 closed

[2018-02-12 12:15] andreineculau commented on #57
I went a bit ahead of the game and merged that branch. If you find smth erroneous, I'll reopen.

[2018-02-12 12:32] subsetpark commented on #58
That clears it up. Thank you for your advice!

[2018-02-12 16:15] mrallen1 commented on #57
Thanks again. I have a new project I'm working on for $DAYJOB so I'll use it there for certain. Any chance you'd tag a new release? ^_^

[2018-02-13 13:35] andreineculau commented on #50
I believe #59 would also cover this case. Closing.

[2018-02-13 13:35] #50 closed

[2018-02-13 13:37] #54 closed

[2018-02-14 14:57] andreineculau commented on #56
published https://github.com/for-GET/jesse/releases/tag/1.5.0

[2018-02-14 14:57] #56 closed

[2018-02-14 18:17] mrallen1 commented on #56
@Licenser Can you put this release on hex pretty please? There's :cake:

[2018-02-16 16:58] sneis opened #60 "Performance issues"
I was looking at jesse's performance, with one or two dozen of schemas that I added with more or less arbitrary keys via jesse:add_schema("some key", SchemaData, [{parser_fun, fun jsx:decode/1}]).
When doing validation I found that (at least on my MacOS box with SSD), about 30% of the run-time is used in treating my arbitrary key as a relative file name. I found it's was a bit better on some other

[2018-02-16 17:16] andreineculau commented on #60
Thanks for the report! I'll have a look but on a gut reply, for the goal of high performance:
1. You should fix the ids to be full URIs
2. I could have an option to just fail if an id is not an URI, rather than be nice and mishmash smth

--
http://andreineculau.com

[2018-02-19 14:35] sneis commented on #60
Thanks for your reply. As a variant of 2, if an id is not an URI, you could maybe make it into an http-URI, instead of a file-URI? Anyway, after having found that "bottleneck" and the workaround of using a full (http-)URI, that's not a big concern for me any more. It's mainly the performance degradation which I see with 1.5.0 that's worrying me.

[2018-02-19 17:46] andreineculau commented on #60
I didn't get to this and I'm on a small screen now
But why do you say i should not prioritize the file: scheme for ids without any? Does it make a difference performance wise? file: is closer to the truth isn't it?

Another q: are you saying that even with proper URIs you see a performance degradation? Or just that the performance degradation is implicit, while you would have liked an error msg te

[2018-02-20 10:43] sneis commented on #60
Yes, while "file:" is probably closer to the truth, it also seems slower. But actually, the difference I see between file scheme and http scheme is probably in the order of the measurement inaccuracy, so let's ignore that. The thing that's really expensive is the call to `filename:absname` in the last clause of `jesse_state:canonical_path` and prioritizing the http scheme for non-URIs would reason

[2018-02-20 23:00] andreineculau commented on #60
while I highlight that I still didn't get to this, there's no difference that I see code-wise between `file:` and `http:` https://github.com/for-GET/jesse/blob/master/src/jesse_state.erl#L331 . `filename:absname/1` is only called for unknown scheme fallback.

weird. Thanks for the numbers!

Is it possible to get a tiny excerpt of your schemas? Just an example of how you load them (e.g. `add_schema

[2018-02-27 19:44] mrallen1 commented on #56
bump for @Licenser :)

[2018-03-11 08:19] handrews opened #61 "draft-06 / draft-07 support?"
Hello from the JSON Schema spec project!

Does this project intend to add support for the recent drafts 6 and/or 7?  I'm happy to answer any questions about the new (and forthcoming) drafts.
http://json-schema.org/specification.html

We will at some point be re-organizing the implementation lists to promote implementations supporting at least draft-06 and make draft-04-and-older-only implementatio

[2018-03-11 11:56] andreineculau commented on #61
Thanks for the ping, Henry!
As a prerequisite, i think we need to close #53 and #55 before moving forward with more standards. That is on me.
Otherwise, a PR is most appreciated. I personally am not using any of the new features so I'm not committed. But that won't stop me from reviewing and accepting any PR that handles a new json schema standard with a comprehensive test suite.

For reference fo

[2018-03-12 18:33] handrews commented on #61
@andreineculau sounds good.  Wish I could make a PR for this myself but I don't know Erlang and the spec work sucks up all of my JSON Schema time anyway :-)

Regarding #53 and #55, here are some draft-08 proposals that are relevant and may affect how you want to finish these:

json-schema-org/json-schema-spec#512 (`definitions` becomes `$defs` in the core, so don't treat "definitions" as a special

[2018-03-12 18:36] handrews commented on #61
@andreineculau sounds good.  Wish I could make a PR for this myself but I don't know Erlang and the spec work sucks up all of my JSON Schema time anyway :-)

Regarding #53 and #55, here are some draft-08 proposals that are relevant and may affect how you want to finish these:

* json-schema-org/json-schema-spec#512 (`definitions` becomes `$defs` in the core, so don't treat "definitions" as a speci

[2018-03-12 19:07] handrews commented on #61
@andreineculau the closest to diffs are the release migration notes:

http://json-schema.org/specification.html#migrating-from-older-drafts

[2018-05-06 12:13] fenollp opened #62 "allow non-schema keys alongside $ref"
Since 1.5.0 or rather #54 this schema fails:
[code]
with `only_ref_allowed`. Not sure how correct the implementation of https://www.jsonschemavalidator.net is but it says this is a valid draft04 schema.

Side note: I believe jesse's handling of `not` schemas is incorrect but I'll investigate more on that.

[2018-05-06 12:26] fenollp commented on #62
Side note update: `not`s are not in draft04.
Updated example code:
[code]
[code]
[code]

[2018-05-06 12:59] fenollp opened #63 "default_schema_ver not working as documented"
Clarifying up the side note I had in #62:

[code]
When `$schema` is specified, the value of `default_schema_ver` is used regardless.
`not` is valid in draft3 but not draft4.

[code]
[code]
With default set to 03 instead of 04 the `not` is correctly checked:

[code]
[code]

[2018-05-06 17:57] andreineculau commented on #62
From http://json-schema.org/latest/json-schema-core.html#rfc.section.7

[2018-05-06 17:57] #62 closed

[2018-05-06 17:59] andreineculau commented on #63
Hmm.. i will check it out when i have access to a big screen. Thanks!

[2018-05-06 22:45] fenollp commented on #62
Your link should be pointing to section 8.3 instead of 7.

While I understand that you could dismiss this issue from an interpretation of 8.3, I believe there is room here. In my simplified example above `"A"` counts as a definition, not a schema constraint as items, properties or type are.
More than one other implementation take that same stance: only the constraints from $ref MUST be respected,

[2018-05-17 16:34] andreineculau commented on #63
Closing as invalid. See https://github.com/for-GET/jesse/issues/62#issuecomment-389926494

Your schema says it's using the "components/schemas/A" schema which has no `$schema` property, but you want the *ignored* (based on the spec) top-level property `$schema` to be applied. No go.

[2018-05-17 16:34] #63 closed

[2018-05-17 17:09] fenollp commented on #62
Ah yes my sample is purposefully contrived: I wanted to say that you should be able to use a $ref at the root level of a schema.

I stand by my point that “A” is not encompassed by “all other properties of a $ref object”: “A” is not a property it’s a definition.

I don’t know who’s right. I believe there is room for interpretation in that § and that at least the lib behind https://www.jsonschemava

[2018-05-17 17:17] andreineculau commented on #60
Hello again @sneis ! I only now took some time and look and this, and I don't see those numbers i.e. doubling the processing time. So I'm thinking maybe I don't have the "correct" setup that triggers this performance degradation.

Looking blindly at the diff related to this (canonical paths), I guess what stands out is this code flow https://github.com/for-GET/jesse/blob/master/src/jesse_state.erl

[2018-05-17 17:34] andreineculau commented on #48
@a12n 1y has passed and I'm wondering how to close this. Any thoughts? My eyes are on the second bullet point above.

[2018-05-17 17:52] andreineculau commented on #40
@eproxus apologies for the 1y silence. AFAICS I cannot reproduce this with the current master.

[code]

Please tell me if you're still having issues and I'll follow up on them.

[2018-05-17 17:52] #40 closed

[2018-05-22 08:43] eproxus commented on #40
@andreineculau No worries 🙂 We're not working on this project at the moment, but trying it out as described in my original report, I no longer see the `not_one_schema_valid` error anymore.

[2018-06-06 20:30] mrallen1 commented on #61
Man I wish I had time to work on this. I'd love to get Jesse up to speed on draft 7/8

[2018-06-06 20:36] handrews commented on #61
@mrallen1 if you're actively interested in attracting contributors for this, I could put this implementation on the "modern" page with a link to this issue.  I've started doing that for implementations that are active and interested in modernizing, but just not able to move on new drafts due to resource constraints.

[2018-06-06 20:46] mrallen1 commented on #61
I'm just a nobody in this project but that'd be pretty cool imo. I could help with *something* but I don't think I can do everything that would be needed.

[2018-07-04 16:53] expelledboy opened #68 "Need some advise for a new JSON schema validator"
I am the developer of [ejsv](https://github.com/patternmatched/ejsv). I needed a JSON schema validation library that could easily be extended and shared logic where possible, and I read through Jesse and found it very difficult in that regard.  I am not familar with JSON schema, but I like my Erlang work 🤣

So I managed to achieve the requirement by implementing an abstraction between the keyword

[2018-07-04 17:18] expelledboy commented on #61
I am looking to implement draft 5-8 in [ejsv](https://github.com/patternmatched/ejsv), but looking for assitance in understanding of how best to implement schema validation with recursive $ref's, if anyone is interested I would really appreciate some help on https://github.com/patternmatched/ejsv/issues/1

[2018-07-18 10:34] andreineculau commented on #68
I'm sorry but I really don't have the time for this (I'm on parental leave). It is also not a jesse issue, so I'm closing. Best of luck with ejsv, but as you know jesse also has a tracking issue to be more extensible, and support newer drafts https://github.com/for-GET/jesse/issues/61

[2018-07-18 10:34] #68 closed

[2018-07-18 10:35] expelledboy commented on #68
No worries, congrats!

[2018-07-25 09:45] benoitc opened #69 "make a release?"
jesse build will fail on some configuration using erlang OTP 21. Having a release including the last commit would work.

[2018-07-25 19:34] andreineculau commented on #69
https://github.com/for-GET/jesse/releases/tag/1.5.2

[2018-07-25 19:34] #69 closed

[2018-07-26 09:30] benoitc commented on #69
Thanks! @licenser can you publish it on hex?

[2018-09-05 09:06] abogosyan opened #72 "should "default" values be added to result JSON? should "default" values be ignored by "required" ?"
SUBJ?

[2018-10-08 18:08] andreineculau commented on #72
q1: v4 draft doesn't mention it https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-6.2
currently we do not alter the input JSON in any way and doing so has implications on performance afaics. but it is a potential improvement

q2: https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.4.3 as far as my interpretation of the v4 draft is that a field is require

[2019-02-24 01:24] mrallen1 opened #78 "jesse:load_schema/2 question"
I have my schemas in `priv/schema` which I am loading by

[code]

Later, I want to reference these loaded schemas by the ids embedded in the schemas themselves, but it appears the only way they're stored is using absolute paths on my local disk.

Example:
[code]

Later I want to

[code]

but of course it says there's no schema named that. It seems like jesse attempts to locate the id attribute in

[2019-02-24 01:36] mrallen1 opened #79 "More $ref resolution questions"
Let's say I have a "common" schema with common data types for a few different schemas.

[code]

And then I have another schema file
[code]

When I try this, I get
[code]

How can I get this to resolve?

[2019-04-01 14:50] f3c0 commented on #78
I think jesse uses use "id" instead of "$id"
[code]

[2019-04-01 15:15] mrallen1 commented on #78
Yes, that's right. Thanks for the answer

[2019-04-01 15:15] #78 closed

[2019-07-05 13:39] seriyps opened #80 "anyOf / OneOf returns unexpected error with allowed_errors=infinity"
Might be caused by fix for #22

Minimized example:

data.json
[code]

schema.json
[code]

[code]

I expect it to only generate `no_extra_properties_allowed`, but it also generates `any_schemas_not_valid`

[2019-07-05 13:48] seriyps commented on #80
I believe the problem might be here:

https://github.com/for-GET/jesse/blob/9f9d050627093d6a43e02a102d78122f0c4989c8/src/jesse_validator_draft4.erl#L1142-L1146

If `State` already have some errors in it's accumulator (because wefailed `"additionalProperties": false` check earlier), we will end up in 2nd clause of `case` even if this subschema of `anyOf` was checked without any errors.

I believe w

[2019-07-05 13:53] seriyps commented on #80
Ok, this does the trick:

[code]

[2019-07-15 20:31] mrallen1 opened #82 "oneOf doesn't fail when nested in a list?"
[code]

Expected result: a list value with a list inside of it should fail `oneOf` validation as defined above.

Actual result:
[code]
I don't understand why?

[2019-07-15 20:38] mrallen1 commented on #82
It's because the default validator seems to be `schema-03`. When I explicitly turn on `schema-04` it works.

[2019-07-15 20:38] #82 closed

[2019-07-15 23:14] seriyps commented on #82
Yeah, looks strange. Could this example be further reduced to minimal one
to reproduce?

пн, 15 июл. 2019 г., 22:31 Mark Allen <notifications@github.com>:

[2019-07-16 02:17] andreineculau commented on #82
Works as expected afaik. I'm cannot check myself right now but v3 doesn't have a definition for oneOf, allOf, etc Might even be that v3 and earlier expect singular "item", not plural "items". So at least 1, but maybe even 2 rules are ignored. It didn't occur to me until now but maybe it's useful to return the schema paths that are ignored.

[2019-07-16 08:44] seriyps commented on #82
Ah, sorry, true.

Sounds useful. Can actually be a separate function to just feed it with schema and it will return a list of rules it doesn't know? Because the list of rules that are ignored doesn't depend on data, only schema.

[2019-07-16 16:47] mrallen1 commented on #82
I figured out my issue :) Thanks

[2019-08-14 13:32] #80 closed

[2019-10-23 02:38] #79 closed

[2020-04-06 21:27] nalundgaard opened #88 "jesse 1.5.4 hex package published incorrectly?"
Hi, I am looking at https://hex.pm/packages/jesse/1.5.4 and it says there are 0 dependencies:

<img width="511" alt="Screen Shot 2020-04-06 at 16 23 39" src="https://user-images.githubusercontent.com/1851445/78606470-fef65880-7822-11ea-90f6-24c677b9c63e.png">

I'm not sure what flaw caused this to be published as such, but it should display both `jsx` and `rfc3339` (example: https://hex.pm/package

[2020-04-06 23:33] seriyps commented on #88
Oh, that's weird..
Looking at https://diff.hex.pm/diff/jesse/1.4.0..1.5.4 I can see that they are mentioned in rebar.lock , but not in hex_metadata.config.

I use rebar3 3.13.0 and it's pretty much fresh version.

Does this cause any problems?

[2020-04-06 23:45] seriyps commented on #88
Tried to run hex publish again:

[code]

it shows "dependencies" as empty.... That's weird... Can you try to run `rebar3 hex publish`? What does it show?

[2020-04-10 16:23] seriyps commented on #88
So far it looks like rebar3_hex bug. I reported it upstream.

[2020-04-10 19:17] #88 closed

[2020-04-10 19:23] seriyps commented on #88
Ok, I published 1.5.5. It looks correct.

[2020-04-10 20:21] nalundgaard commented on #88
Awesome, I concur. Thanks!

[2020-05-18 10:24] jfacorro opened #90 "Improving the error messages from jesse when using oneOf/anyOf"
When the JSON schema uses `oneOf`, `anyOf` or similar and the validation fails, the error message returned is not very helpful for the user. For example, in the case of `oneOf` the error is only `not_one_schema_valid`.

From what I've seen in the code, it should be possible to check all of the schemas in the specification provided in `anyOf`/`oneOf`, and add the errors from the schema with the lea

[2020-05-18 11:06] seriyps commented on #90
I think it's a good idea. But please make sure not replace `not_one_schema_valid` etc, but embed the more specific error into this one

[2020-06-05 08:30] #90 closed

[2020-09-30 16:00] dziaineka opened #93 "Maybe incorrect validation result"
Hello!

Trying to validate this json:

[code]

with this schema:

[code]

result is:

[code]

But online validator found error ([link to the case](https://www.jsonschemavalidator.net/s/bnzqva8G)):

[code]

Is it a bug?

[2020-11-02 07:02] ThomasArts commented on #93
Since you demand inlines to  have a required field "content", it is correct to raise an error if the actual term you supply does not have a content.

[2020-11-02 10:59] dziaineka commented on #93
@ThomasArts thank you!

If it is not validation bug then it is jesse bug?

Because jesse found no errors:

[code]

[2020-11-03 12:59] dziaineka commented on #93
I've made patch, but I don't know if it good enough to be merged to jesse.

https://github.com/dziaineka/jesse/commit/6b7daa23a3311f0626c3b936997974d8fc1b473a

[2020-11-17 21:38] paulo-ferraz-oliveira opened #96 "Request release"
Hi. Would you consider a Git tag and publish to Hex.pm for `master`? Thanks much.

[2020-11-18 18:59] seriyps commented on #96
Hi. Done

https://github.com/for-GET/jesse/releases/tag/1.5.6
https://hex.pm/packages/jesse/1.5.6

Sorry for the long wait

[2020-11-18 18:59] #96 closed

[2020-12-08 15:12] paulo-ferraz-oliveira opened #97 "Move from Travis CI to GitHub Actions?"
Would you be interested in a pull request that moves CI from Travis CI to GitHub Actions, or at least adds GitHub Actions alongside Travis CI? It seems travis-ci.org will stop being useful from Dec 31 2020. I can do it, except that I think you need to create the workflow yml, first, in `master`, after which I can branch off of.

[2020-12-08 15:55] andreineculau commented on #97
Hej Paulo. Yes, I've also started moving all projects over to GitHub as well. Travis put the nail on the coffin that everyone saw coming 2y so. There are a few alternatives on the table on how to move forward. I'll get back to you shortly. Thanks for poking👏

--
http://andreineculau.com

[2020-12-08 16:27] paulo-ferraz-oliveira commented on #97
I'll create a PR, in the meantime (since it's really easy to adopt GitHub Actions) and then we can iterate on it, or close it, if you think a better alternative is in order.

[2021-01-06 01:56] andreineculau opened #99 "breaks with rebar3_lint@0.3.0"
1683 was green: https://travis-ci.org/github/for-GET/jesse/builds/749489608
1684 was red: https://travis-ci.org/github/for-GET/jesse/builds/750746033

@paulo-ferraz-oliveira would you be so kind to have a look? I see you're active there.

I'm locking it to 0.2.0 for now. Should probably be locked anyway.

<details>
    <summary>Details</summary>
<pre>
# src/jesse.erl [FAIL]
192Error: 'undef' while

[2021-01-06 02:01] #97 closed

[2021-01-06 02:02] andreineculau commented on #99
apparently I'm doing smth wrong when I try to lock it... so not locking it

<details><pre>
rebar3 as lint lint
9
===> Fetching rebar3_lint (from {git,"project-fifo/rebar3_lint.git",
10
                       {tag,"0.2.0"}})
11
===> Errors loading plugin {rebar3_lint,
12
                               {git,
13
                                   "project-fifo/rebar3_lint.git",
14

[2021-01-06 02:10] andreineculau opened #100 "CI: use kerl/linuxbrew to install specific erlang versions"
see https://github.com/for-GET/jesse/pull/98#issuecomment-755029967

to clarify: we should be able to test with any desired erlang version, including those disabled in https://github.com/for-GET/jesse/commit/dfe93481e76e1077c5e778034a522a99a45152bd#diff-b803fcb7f17ed9235f1e5cb1fcd2f5d3b2838429d4368ae4c57ce4436577f03f

FWIW I see kerl supports only 20+ https://github.com/kerl/kerl#otp-support-polic

[2021-01-06 11:38] andreineculau commented on #100
reverted using kerl, because it takes e.g. 13 minutes to install an erlang version. seems a waste even for the CI...

for summary:
- we need git 2.18+ because of how actions/checkout@v2 is written (could be changed not to need 2.18 for the sake of using git protocol v2)
- we cannot get 2.18+ installed on debian jessie (which some erlang containers are based on) without errors, not from backports,

[2021-01-06 22:28] paulo-ferraz-oliveira commented on #100
Is the goal to just allow testing with any given OTP version? I'd propose dropping older versions, e.g pre OTP 19, to start with. (I think 5 years support is good enough!)
But I can test with the https://github.com/marketplace/actions/setup-erlang action, let me open a draft pull request.

[2021-01-06 22:57] paulo-ferraz-oliveira commented on #99
Sure.

Rules `line_length`, etc. that are failing with `undef` moved from `elvis_style` to `elvis_text_style`. [`elvis_core`](https://github.com/inaka/elvis_core/blob/master/MIGRATION.md) mentions it, `rebar3_lint` doesn't.

As for macro `Exp` you can either tweak the regex, disable the rule or "fix" the macro name. The reasoning is [here](https://github.com/inaka/elvis_core/pull/131#discussion_r4

[2021-01-06 22:59] paulo-ferraz-oliveira commented on #99
A simple `{rebar3_lint, "0.2.0"}` should suffice.

[2021-01-06 23:01] paulo-ferraz-oliveira commented on #100
I got it running with almost all previous versions (less 18.1 and 18.2), for which I get [the same stupid issue](https://github.com/paulo-ferraz-oliveira/jesse/actions/runs/467336224) you do. I believe the `rebar3` version packed with that failing container might be error'ing out.

[2021-01-06 23:01] paulo-ferraz-oliveira commented on #100
Let me output a log the version for it.

[2021-01-07 23:15] #99 closed

[2021-01-07 23:15] #100 closed

[2021-04-30 20:06] nalundgaard opened #104 ""pattern" and "patternProperties" do not support unicode properties"
I have noticed that when putting regex patterns in `pattern` and `patternProperties`, `\w` does not match unicode letters (like `ū`, `ス`, `п`) as expected. You have to use `[\p{L}\p{N}_]` instead. It looks like this is because the patterns are not compiled/executed with the `ucp` in [`re:compile/2`](https://erlang.org/doc/man/re.html#compile-2):

Later it explains:

Is this intended to not use thi

[2021-05-01 23:00] andreineculau commented on #104
Nicholas, you are right across the board. Thanks for the detailed comments.

Regarding intention - I believe the initial author didn't think of it as a must at that time. If memory serves me well I enabled unicode matching, but didn't go for the `ucp` option. There's a question around performance and I guess in an extended setup with many schemata, every millisecond adds up. I remember vaguely tha

[2021-05-06 18:14] nalundgaard commented on #104
Yeah, sure! I'll try to have a look at the requisite change (and figuring out how to add a test for it) when I have some free time. Thanks for the explanation, and totally agree about the performance cost issues if you don't need it, the `re` module is quite... slow.

[2021-05-21 12:06] kikofernandez opened #107 "Tests from upstream are 6 years old"
Hi, when checking the testing from upstream (from `test/JSON-Schema-Test-Suite/`), I noticed that the tests that I think are used now are from 6 years ago, since the submodule commit has not changed.

Is this the case? Thanks.

[2021-05-24 11:23] seriyps commented on #107
Hi. It could easily be like that, yep. I guess, since JSON schema draft-04 have been released in 2013, there were no real need to update the test suites.

Now, if we get the draft-06 merged, I think it would make a lot of sense to update the test suites as well eventually.

[2021-05-25 20:41] andreineculau commented on #107
to be fixed in #108

[2021-05-25 20:41] #107 closed

[2021-06-03 22:21] andreineculau commented on #48
@a12n quite some time has passed. Add to that the fact that this is a corner case... I will close the issue, and we can continue discussing if needed, and even reopen the issue. 🙋‍♂️

[2021-06-03 22:21] #48 closed

[2021-06-03 22:23] andreineculau commented on #60
@sneis if there's a way to highlight the issue, or even better - a PR to fix the issue, shoot! I'm closing the issue for now 🙋‍♂️

[2021-06-03 22:23] #60 closed

[2021-07-16 09:53] galambl opened #111 "Handle boolean type"
We have an application which should be able to receive this type. We would like to handle this type as well.
A pull request has` been created: https://github.com/for-GET/jesse/pull/110/commits/0e07b0e0ce80ca21195da5af6d9f8b368245999e

Please review and if you have any comments lets discuss it.

THX.

[2021-07-17 09:14] andreineculau commented on #111
Your PR is about draft4 with specs here
https://json-schema.org/specification-links.html#draft-4
regarding an extension to the "format" field with specs here
https://datatracker.ietf.org/doc/html/draft-fge-json-schema-validation-00#section-7

1. there's no builtin format "boolean" in the specs
2. your format should work just as well by specifying a "pattern" field
with a regex value "^(true|false)

[2021-07-19 07:38] #111 closed

[2021-07-19 07:39] galambl commented on #111
Thanks for quick response.

I thought that the extension of format is easier to remember like the pattern match. But you are absolutely right it is not part of the standard.

I closed my pull request too.

[2021-12-14 09:23] #104 closed

[2022-01-13 13:03] germanblanco opened #115 "Performance of validation of JSON objects with very long lists of JSON objects within is very, very slow."
It seems that validating an object with a list of 1000 objects with uniqueItems property takes time in the order of one second to complete.

This may be verified by creating an object such as:
[code]

and validating it against an schema such as:

[code]

[2022-01-13 13:07] germanblanco commented on #115
One solution to this is already verified for forked project https://github.com/kobil-systems/jessy

The solution is here: https://github.com/kobil-systems/jessy/pull/7

I have prepared already a patch to this project and would love to have the opportunity to submit a pull request with this proposal.

[2022-01-14 18:19] seriyps commented on #115
Hi,

do you have any idea if the performance is not great because of nested loop

[code]

or because of slow comparison function `jesse_validator_draft4:is_equal/2`?

I have at least one problem with the implementation you have in your fork - it uses `sets` module with `{version, 2}`, which is not available on OTP versions prior to, I think, 24. Jesse currently supports OTP versions starting from

[2022-01-14 18:35] seriyps commented on #115
The current nested loop seems to be slightly optimized quadratic complexity (it needs 45 calls to `is_equal` for list of 10 elements, 1225 for 50 elements and  4950 for 100 elements), which is indeed far from optimal =(

Are you sure your `jesse_lib:normalize_and_sort` is equivalent to `is_equal`? I can try to write a property-based test...

[2022-01-16 10:41] germanblanco commented on #115
My impression is that the main reason is the nested loop.  If I am not wrong that means this search is O(n^2), while creating a set, which should be creating a hash for each element and then comparing, is O(n).  The observation is that the time that it takes grows more than proportionally with the number of elements in the list.

[2022-01-16 10:43] germanblanco commented on #115
Thank you very much for the suggestion!  I have no problem at all in changing the implementation, that is in fact one of the reasons to propose this change here.  Is it enough if I create a new pull request in the child project using lists:usort after testing it? Or do you want to see the new proposals in any other way? Would it be possible for me to get permissions to create a pull request here a

[2022-01-16 10:45] germanblanco commented on #115
I am going to try that is_equal thing.  I have to say that my knowledge of the library is very little at the moment, so there might be many options that I just didn't considered for lack of knowledge. It was just a matter of solving this problem with what I could do at the moment, since it was really dangerous as it was.

[2022-01-18 05:51] germanblanco commented on #115
After looking a bit into this, my proposal is to just check the OTP version and use `{version, 2}` only when available.  This is anyway an optimization that, as far as I know, it only matters in terms of memory used.  The improvement in speed is there with and without this parameter, but I would prefer to keep it for OTP versions 24 and higher. My idea is to do this with a macro, such as this one:

[2022-01-18 05:55] germanblanco commented on #115
I am working now in that property-based test.  Thank you very much for this idea.  If you have a suggestion for a "Generator" for lists of JSON objects, that would be awesome.

[2022-01-18 10:35] seriyps commented on #115
I actually have https://gist.github.com/seriyps/ffe0f5f5ba270fc4dd395208718e84d3

Maybe not perfect and would need to be wrapped to `proper_types:list`

[2022-01-18 11:38] germanblanco commented on #115
This looks awesome!  Thank you very much, I hope to have something working in a day or two.

[2022-01-18 16:34] germanblanco commented on #115
Hello again @seriyps !

I would like to propose the changes in this branch: https://github.com/kobil-systems/jessy/pull/8/files

Please tell me if this looks ok or any change in direction is needed.

The ideas behind the changes are the following:
- is_equal is moved to jesse_lib and a parameter is added so that it behaves different for draft 3 and for draft 4. This saves from repeating many lines

[2022-01-19 17:37] seriyps commented on #115
@germanblanco I added one coment regarding big integers in your `jessy` PR. I think it would be a bit easier if you will open a PR towards this repository, so we can continue the discussion there.

I see in your PR you made v3 and v4 versions of `es_equal` to behave the same way even though there was a difference in how they compare integers with floats. I might need to check the specks to see if

[2022-01-20 10:28] germanblanco commented on #115
Hello!
please take a look at the pull request, I have tried to address all the issues you mentioned.
It seems I need your approval so that CI checks this pull request, please consider this.
Thanks a lot again for all the great suggestions to this change.

[2022-01-25 10:09] seriyps commented on #115
Fixed by #116

[2022-01-25 10:09] #115 closed

[2022-01-25 14:06] james-bellamy opened #117 "Possible error since 6cfd1c09ff7abfcbce445e44583cd3a41a5935af"
Hello, we're running into the following error:

`function_clause
in function lists:keydelete3/3 (lists.erl, line 690)
called as keydelete3(<<"$ref">>,1,{[{<<"$ref">>,<<"file://offer.json">>}]})
in call from jesse_state:set_current_schema/2 (jesse/src/jesse_state.erl, line 189)
in call from jesse_validator_draft3:check_items/3 (jesse/src/jesse_validator_draft3.erl, line 531)
in call from jesse_vali

[2022-01-25 15:00] seriyps commented on #117
Oups, seems it's another incarnation of https://github.com/for-GET/jesse/pull/113.
It's unfortunate that we support too many representations of JSON objects internally… Maybe should migrate to some common internal format eventually instead of calling `unwrap` on-spot...

I'll try to have a look. Or would appreciate a PR. Theproblem is that here:
https://github.com/for-GET/jesse/blob/83281a59ae3cd9

[2022-02-14 16:17] seriyps opened #118 "Use fixed `map()` representation of JSON objects"
Right now Jesse supports multiple Erlang representations of JSON `object` type: `map()` / `proplist` / `{proplist()}` / `{struct, proplist()}`.

It used to make sense before maps were introduced in OTP-17 in 2014. But now, over 7 years since then I think most of the libraries and systems are using maps for object representation. Jesse [supports maps since 2016](https://github.com/for-GET/jesse/pul

[2022-05-07 08:35] #117 closed

[2022-05-07 09:01] andreineculau opened #121 "optimization: resolve ref once for "looping" properties"
see https://github.com/for-GET/jesse/pull/47#issuecomment-922510588

[2022-05-07 11:24] andreineculau opened #122 "CLI tool as docker image"
Rather than expect everyone to install Erlang, an alternative is to expect everyone to have docker.

[2022-05-07 13:57] #122 closed

[2022-05-08 13:50] andreineculau opened #124 "fix strict schema matching"
A schema with `"$schema": "http://json-schema.org/draft-06/schema#"` i.e. trailing `#` will make jesse believe this is not a draft6 schema, and complain about `id` and `$id`.

`http://json-schema.org/draft-06/schema#` is equivalent to `http://json-schema.org/draft-06/schema` and should be treated as such.